<!DOCTYPE html>
<html>
<head>
	<title>Sabatoast</title>
	<link href="css/sabatoast.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <table>
  <tr>
    <% @builds.each do |build| %>
    <td>
       <h1><%= build[:branch]%> <small><%= build[:buildnum]%></small></h1>
       <% if build[:result].nil? %>
       <h2>Building...</h2>
       <% end %>
       <ul class="failed-builds">
       <% build[:failures].each do |f| %>
          <li><%= f[:name]%></li>
       <% end %>
       </ul>
       <ul class="all-builds">
       <% build[:downstream_builds].each do |ds| %>
          <li class="<%= ds[:result].nil? ? 'building' : ds[:result].downcase %>"><%= ds[:name]%> </li>
       <% end %>     
       </ul>
    </td>
    <% end %>
  </tr>
  </table>

</body>
</html>
