<!DOCTYPE html>
<html>
<head>
  <title>Sabatoast</title>
  <meta http-equiv="refresh" content="30">
  <link href="css/sabatoast.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <table>
  <tr>
    <% @builds.each do |build| %>
    <td>
       <h1>
         <%= build.branch %>
       </h1>
       <div class="details">
          <a class="build" href="<%= settings.jenkinsUri + build.url %>" target="_blank">build: <%= build.buildNumber %></a> &nbsp;
          <a class="sha" target="_blank" href="https://github.com/DovetailSoftware/blue/commit/<%= build.sha %>">git: <%= build.sha %></a>
       </div>

       <% if build.status == "RUNNING" %>
       <h2>Building...</h2>
       <% end %>
       <ul class="failed-builds">
       <% build.downstreamBuilds.select{|b| b.status == "FAILURE" }.each do |failedBuild| %>
         <a target="_blank" href="<%= settings.jenkinsUri + failedBuild.url %>" title="<%= failedBuild.job.jobName%>"><li><%= failedBuild.job.jobName %></li></a>
       <% end %>
       </ul>
       <ul class="all-builds">
       <% build.downstreamBuilds.each do |ds| %>
          <li class="<%= ds.status.downcase %>"><a target="_blank" href="<%= settings.jenkinsUri + ds.url %>" title="<%= ds.job.jobName%>"><%= ds.job.jobName %></a></li>
       <% end %>
       </ul>
    </td>
    <% end %>
  </tr>
  </table>
</body>
</html>
