<!DOCTYPE html>
<html>
<head>
	<title>Sabatoast</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script type="text/javascript">
    $(document).ready(function(){      
    });
	</script>
</head>
<body>
  <% @builds.each do |build| %>
     <h1><%= build[:branch]%> (<%= build[:buildnum]%>)</h1>
     <h2><%= build[:overall_result]%></h2>
     <hr/>     
     <h3>Failed Builds</h3>
     <ul>
     <% build[:failures].each do |f| %>
        <li><%= f[:name]%> (<%= f[:buildnum]%>)</li>
     <% end %>
     </ul>
     <h3>Downstream Builds</h3>
     <ul>
     <% build[:downstream_builds].each do |ds| %>
        <li><%= ds[:name]%> (<%= ds[:buildnum]%>): <%= ds[:result]%></li>
     <% end %>     
     </ul>
  <% end %>

</body>
</html>
