<!DOCTYPE html>
<html>
<head>
  <title>Sabatoast</title>
  <meta http-equiv="refresh" content="30">
  <link href="css/sabatoast.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <table>
  <tr>
    <% @builds.each do |build| %>
    <td>
       <h1><%= build.branch %> <small><a href="<%= build.url %>" target="_blank"><%= build.buildNumber %></a></small></h1>
       <h3><small class="sha">HEAD: <a target="_blank" href="https://github.com/DovetailSoftware/blue/commit/<%= build.sha %>"><%= build.sha %></a></small></h3>

       <% if build[:result].nil? %>
       <h2>Building...</h2>
       <% end %>
       <ul class="failed-builds">
       <% build[:failures].each do |f| %>
          <li><%= f[:name]%></li>
       <% end %>
       </ul>
       <ul class="all-builds">
       <% build[:downstream_builds].each do |ds| %>
          <li class="<%= ds[:result].nil? ? 'building' : ds[:result].downcase %>"><a target="_blank" href="<%= ds[:url]%>" title="<%= ds[:name]%>"><%= ds[:name]%></a></li>
       <% end %>     
       </ul>
    </td>
    <% end %>
  </tr>
  </table>
  
  <ul class="current-builds">
    <% @cc_builds.each do |build| %>
    <li class="<%= build[:status]%>"><a target="_blank" href="<%= build[:url]%>"><%= build[:name]%></a></li>
    <% end %>
  </ul>

</body>
</html>
