<!DOCTYPE html>
<html>
<head>
  <title>Sabatoast</title>
  <meta http-equiv="refresh" content="30">
  <link href="css/sabatoast.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <table>
  <tr>
    <% @builds.each do |build| %>
    <td>
       <h1><%= build.branch %> <small><a href="<%= settings.jenkinsUri + build.url %>" target="_blank"><%= build.buildNumber %></a></small></h1>
       <h3><small class="sha">HEAD: <a target="_blank" href="https://github.com/DovetailSoftware/blue/commit/<%= build.sha %>"><%= build.sha %></a></small></h3>

       <% if build.status == "RUNNING" %>
       <h2>Building...</h2>
       <% end %>
       <ul class="failed-builds">
       <% build.downstreamBuilds.select{|b| b.status == "FAILURE" }.each do |failedBuild| %>
         <li><%= failedBuild.job.jobName %></li>
       <% end %>
       </ul>
       <ul class="all-builds">
       <% build.downstreamBuilds.each do |ds| %>
          <li class="<%= ds.status.downcase %>"><a target="_blank" href="<%= settings.jenkinsUri + ds.url %>" title="<%= ds.job.jobName%>"><%= ds.job.jobName %></a></li>
       <% end %>
       </ul>
    </td>
    <% end %>
  </tr>
  </table>

</body>
</html>
